.imageshadow
{

border:4px solid tranparent;
border-image:linear-gradient(45deg,#ff0,#f0f,#f00,#00f,#0f0);
border-image-slice:1;
box-shadow:0 15px 25px rgba(0,0,0,1);


}
.profile-card .profile-picture {
    width: 7.4rem;
}

.profile-card .social-section {
    margin-top: 2rem;
}

.profile-card .social-section a {
    font-size: 1.3rem;
    padding: .2rem .6rem;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}